.profile-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-left: -10px;
    margin-top: 80px;
    overflow-x: hidden;
    .sidebar {
        height: 100vh;
        font-family: 'Krub', sans-serif;
        width: 18%;
        padding-top: 35px;
        padding-left: 30px;
        background-color: rgb(205, 235, 247);
    }
    .profile-data {
        width: 75%;
        margin-right: -20px;
        padding-left: 20px;
        .profile-name {
            font-family: 'Krub', sans-serif;
            margin-top: 15px;
            margin-left: 20px;
        }
        input {
            font-family: 'Krub', sans-serif;
            height: 40px;
            width: 300px;
        }
    }
}



