.profile-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-left: -10px;
    margin-top: 80px;
    overflow: hidden;
    .sidebar {
        height: 100vh;
        font-family: 'Krub', sans-serif;
        width: 18%;
        padding-top: 35px;
        padding-left: 30px;
        background-color: rgb(205, 235, 247);
    }
    .profile-data {
        width: 75%;
        margin-right: -20px;
        padding-left: 20px;
        .username-and-flag-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 600px;
            height: 80px;
            margin-top: 20px;
            .profile-name {
                font-family: 'Krub', sans-serif;
                margin-top: 15px;
                margin-left: 20px;
            }
            .native-language-flag {
                height: 40px;
                margin-left: 10px;
                padding-bottom: 5px;
            }
        }
        .learning-languages-container{
            font-family: 'Krub', sans-serif;
            .learning-languages-individual{
                width: 200px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                .learning-languages-individual-button{
                    height: 30px;
                    margin-left: 15px;
                }
            }
        }
        
    }
}



