@use 'mixins';

@mixin option-div {
    width: 100%;
    height: 70px;
    padding-top: 25px;
    box-shadow: black 2px 2px;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 5px;
}

.quiz-page-container {
    font-family: 'Krub', sans-serif;
    margin-left: -10px;
    margin-top: 80px;
    overflow: hidden;
    @include mixins.sidebar;
    .quiz-main-container {
        display: flex;
        flex-direction: column;
        width: 850px;
        height: 100%;
        margin-left: 300px;
        .quiz-main-title {
            margin-bottom: 0px;
            text-align: center;
        }
        .quiz-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 500px;
            .quiz-word {
                text-align: center;
                font-size: 2.4em;
                font-weight: 800;
                width: 300px;
                height: 60px;
                padding-top: 15px;
                cursor: default;
            }
            .quiz-answers {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                height: 300px;
                width: 100%;
                cursor: default;
                .option-div {
                    @include option-div;
                    background-color:rgb(235, 235, 235);
                    animation: optionsEntrance 0.5s;
                }
                .option-div-correct {
                    @include option-div;
                    background-color:rgb(92, 252, 71);
                }
                .option-div-incorrect {
                    @include option-div;
                    background-color:rgb(221, 74, 74);
                    animation: wrongJiggle 0.35s;
                }
                .option-div:hover {
                    background-color: rgb(207, 207, 207);
                    transform: translateY(2px);
                }
            }
        }
        // This is the results component
        .quiz-results-container{
            height: 400px;
            .quiz-results-header{
                margin-bottom: 20px;
            }
            .quiz-results-card-container{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                width: 80%;
                .quiz-results-item-card{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 80px;
                    width: 200px;
                    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
                    background-color:rgb(66, 148, 255);
                    cursor: default;
                }
            }
            .quiz-results-button{cursor:pointer; margin-top: 60px; position: relative; min-height:1em;outline:0;border:none;vertical-align:baseline;background:rgb(32, 95, 179) none;color:rgb(255, 255, 255);font-family: Krub;margin:0 .25em 0 0;padding:.78571429em 1.5em .78571429em;text-transform:none;text-shadow:none;font-weight:700;line-height:1em;font-style:normal;text-align:center;text-decoration:none;border-radius:.28571429rem;-webkit-box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-transition:opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;transition:opacity .1s ease,background-color .1s ease,color .1s ease, background .1s ease,-webkit-box-shadow .1s ease;transition:opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;transition:opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;will-change:auto;-webkit-tap-highlight-color:transparent}
            .quiz-results-button:hover{background-color: rgb(126, 178, 247); transform: translateY(2px); background-image:none;-webkit-box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;color:rgb(255, 255, 255)}
            .quiz-results-button:active{background-color: rgb(66, 148, 255); transform: translateY(1px); background-image:none;-webkit-box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;color:rgb(255, 255, 255)}
        }
    }
}

@keyframes wrongJiggle {
    0% {
        transform: translateX(5px);
    }

    20% {
        transform: translateX(-5px);
    }
    
    40% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(-5px);
    }

    80% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(-5px);
    }
}

.quiz-success-image {
    margin-left: 400px;
    width: 500px;
    height: 500px;
}

