.association-container {
    position: fixed;
    top: 350px;
    left: 100px;
    margin-top: 20px;
    font-family: 'Krub', sans-serif;
}
.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Krub', sans-serif;
    font-weight: 800;
    padding-left: 20px;
    padding-top: -30px;
    position: fixed;
    top: 150px;
    left: 100px;
    height: 200px;
    width: 1100px;
    background-color: rgb(56, 142, 253);
    opacity: 0.8;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    animation: slideInInformation 0.5s;
}

@keyframes slideInInformation {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 0.7;
        transform: translateX(0);
    }
}

.search-input-text {
    height: 30px;
    width: 200px;
}

.find-synonyms-button {
    margin-top: 30px;
    width: 150px;
}

.association-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    width: 1120px;
}

.association-box {
    height: 120px;
    width: 200px;
    margin-right: 20px;
    text-align: center;
    background-color: rgb(53, 147, 163);
}