.lds-ellipsis {
    position: absolute;
    margin-top: 20px;
    margin-left: 48%;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 163px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: rgb(252, 188, 11);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.set-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-left: -10px;
    margin-top: 80px;
    overflow: hidden;
    .sidebar {
        height: 100vh;
        font-family: 'Krub', sans-serif;
        width: 18%;
        padding-top: 35px;
        padding-left: 30px;
        background-color: rgb(252, 241, 93);
    }
    .set-main-container {
        display: flex;
        flex-direction: column;
        width: 75%;
        .set-title {
            font-family: 'Krub', sans-serif;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 200px;
            .bi-plus-circle {
                font-size: 2.3em;
            }
        }
        .vocabulary-item-container {
            display: grid;
            grid-template-columns: auto auto auto;
            height: 100vh;
        }
        .vocabulary-item {
            font-family: 'Krub', sans-serif;
            width: 100px;
            height: 100px;
            background-color: orange;
        }
    }
    
}

.word-input-hidden {
    display: none;
}

.word-input-display {
    font-family: 'Krub', sans-serif;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 400px;
    left: 400px;
    height: 400px;
    width: 400px;
    .form-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }
}


