@use 'mixins';

.set-container {
    font-family: 'Krub', sans-serif;
    margin-left: -10px;
    margin-top: 80px;
    overflow: hidden;
    .sidebar {
        position: fixed;
        height: 100%;
        width: 200px;
        padding-top: 35px;
        padding-left: 30px;
        background-color: rgb(252, 241, 93);
    }
    .set-main-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        @include mixins.loading-animation;
        .set-has-loaded {
            margin-left: 250px;
            .set-title {
                margin-left: 50px;
                margin-bottom: 0px;
                width: 700px;
            }
            .word-add {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                align-items: center;
                margin-left: 50px;
                margin-bottom: 20px;
                width: 850px;
                .word-add-input {
                    height: 30px;
                    margin-left: 20px;
                }
                .bi-plus-circle {
                    margin-left: 20px;
                    margin-right: 20px;
                    font-size: 2.3em;
                }
                .uibutton {cursor:pointer; display:inline-block;height: 50px; width: 150px; font-size: 25px; outline:0;border:none;vertical-align:baseline;background:#8c40ca none; color:rgb(255, 255, 255);font-family: Krub;margin:0 .25em 0 0;text-transform:none;text-shadow:none;font-weight:700;line-height:1em;font-style:normal;text-align:center;text-decoration:none;border-radius:.28571429rem;-webkit-box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-transition:opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;transition:opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;transition:opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;transition:opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;will-change:auto;-webkit-tap-highlight-color:transparent}
                .uibutton:hover {background-color:#7707d3; transform: translateY(2px); background-image:none;-webkit-box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34, 38, 34, 0.15) inset;box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;color:rgb(255, 255, 255)}
                .uibutton:active {background-color:#7707d3; transform: translateY(1px); background-image:none;-webkit-box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;color:rgb(255, 255, 255)}
            }
            .vocabulary-item-container {
                display: grid;
                grid-template-columns: auto auto auto auto;
                grid-template-rows: auto auto auto;
                grid-column-gap: 10px;
                grid-row-gap: 10px;
                height: 400px;
                margin-left: 20px;
                width: 900px;
                .vocabulary-item {
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(121, 194, 253, 0.5);
                    border-radius: 15px;
                    transform-style: preserve-3d; 
                    transition: all 0.5s ease;
                }
                .vocabulary-item:hover {
                    transform: rotateY(180deg);
                    background-color: rgba(121, 194, 253);
                }
                .vocab-front-word {
                    position: absolute;
                    font-size: 24px;
                    width: 100%;
                    height: 100%;
                    box-shadow: black 2px 2px;
                    border-radius: 15px;
                    backface-visibility: hidden;
                }
                .vocab-back-explanation {
                    position: absolute;
                    font-size: 18px;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                    transform: rotateY(180deg);
                    box-shadow: black 2px 2px;
                    border-radius: 15px;
                    cursor: default;
                }
            }
        }
    }
}

.word-input-display {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 150px;
    left: 400px;
    height: 100px;
    width: 400px;
    background-color: rgb(169, 169, 253);
    padding: 100px;
    border: 2px solid black;
    opacity: 0.9;
    .form-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }
}

.word-input-hidden {
    display: none;
}

