.lds-ellipsis {
    position: absolute;
    margin-top: 20px;
    margin-left: 48%;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 163px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: rgb(252, 188, 11);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.vocab-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-left: -10px;
    margin-top: 80px;
    overflow: hidden;
    .sidebar {
        height: 100vh;
        font-family: 'Krub', sans-serif;
        width: 18%;
        padding-top: 35px;
        padding-left: 30px;
        background-color: rgb(252, 241, 93);
    }
    .vocab-data{
        font-family: 'Krub', sans-serif;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 20px;
        row-gap: 20px;
        width: 75%;
        height: 40vh;
        margin-right: -20px;
        margin-top: 20px;
        padding-left: 50px;
        .vocab-data-word{
            text-align: center;
            padding-top: 10px;
            padding-bottom: 20px;
            background-color:rgb(252, 241, 93)
        }
    }
}


